<%= form_for(@thread, url: threads_path) do |f| %>
  <% if @thread.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@thread.errors.count, "error") %> prohibited this thread from being saved:</h2>

      <ul>
      <% @thread.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_field :body %>
  </div>
  <div class="actions">
    <%= f.submit "Post" %>
  </div>
<% end %>
